code {
  background: #101010;
  color: #e0c29b;
  padding-left: 3px;
  padding-right: 3px;
}

pre {
  background: #101010;
}

img {
  max-height: none;
}

p.images {
  text-align: center;
}

p.images img {
  width: 80%:
}
