<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    {{ partialCached "css.html" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="hero bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Ensine uma Criança</h1>
          <p class="py-6">
            Um conjunto de materiais de apoio e dicas que te ajudarão acompanhar atividades lúdicas propostas pelo <a target="_blank" href="https://projects.raspberrypi.org/en/codeclub">Code Club</a>, um projeto social criado pela <a target="_blank" href="https://www.raspberrypi.org/">Raspberry Pi Foundation</a>.
          </p>
        </div>
      </div>
    </div>
    {{ block "main" . }} {{ end }}
    {{ block "footer" . }} {{ end }}
  </body>
</html>
