{{ define "main" }}
  <div class="flex content-center max-w-5xl flex-wrap justify-evenly left-0 right-0 m-auto mt-10 gap-y-10">
  {{ range where site.RegularPages "Section" "atividades" }}
    <div class="card bg-base-100 w-96 shadow-sm">
      <figure>
        <img
          src="/images/covers/atividades/{{ .File.BaseFileName }}.png"
          alt="{{ .Summary }}" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">{{ .LinkTitle }}</h2>
    <p>{{ .Summary }}</p>
        <div class="card-actions justify-end">
          <a href="{{ .RelPermalink }}" class="btn btn-primary">Acessar</a>
        </div>
      </div>
    </div>
  {{ end }}
  </div>
{{ end }}
