{{ define "main" }}
  <div class="flex content-center max-w-5xl flex-wrap justify-evenly left-0 right-0 m-auto mt-10 gap-y-10">
  {{ range where site.RegularPages "Section" "atividades" }}
    <a href="{{ .RelPermalink }}">
      <div class="card bg-base-200 w-72 shadow-sm border-2 mx-2 transition-all hover:scale-120 rounded-2xl">
        <div class="card-image-overlay w-full rounded-2xl rounded-br-none rounded-bl-none top-0 left-0 border-b-2">
          <h2 class="card-title text-black mt-1 ml-3 text-shadow-[0px_0px_5px_rgb(255_255_255_/_1)]">{{ .LinkTitle }}</h2>
        </div>
        <figure>
          {{ $image := .Resources.Get "cover.png" }}
          {{ $summary := .Summary }}
          {{ with $image }}
          <img
            src="{{ .RelPermalink }}"
            alt="{{ $summary }}" />
          {{ end }}
        </figure>
        <div class="card-body p-3 min-h-17">
          <p>{{ .Summary }}</p>
        </div>
      </div>
    </a>
  {{ end }}
  </div>
{{ end }}
