{{ define "main" }}
  <div class="max-w-5xl left-0 right-0 m-auto prose p-5 z-1 pt-0">
    <figure class="h-5 pointer-events-none">
      {{ $image := .Resources.Get "cover.png" }}
      {{ $summary := .Summary }}
      {{ with $image }}
      <img
        class="w-full blur-xs opacity-30 pointer-events-none"
        src="{{ .RelPermalink }}"
        alt="{{ $summary }}" />
      {{ end }}
    </figure>
    <a class="btn btn-secondary" href="/">voltar</a>
    <h1 class="text-center mt-5">{{ .Title }}</h1>
    {{ .Content }}
  </div>
{{ end }}
