<div id="install-alert" role="alert" class="alert alert-vertical sm:alert-horizontal fixed top-80 left-0 right-0 m-auto border-3 border-black w-11/12 md:w-8/12 hidden">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-6 w-6 shrink-0">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
  <span>se preferir, salve esse site como um app na sua tela inicial</span>
  <div>
    <button id="install-alert-no" class="btn btn-sm">Não, obrigado</button>
    <button id="install-alert-yes" class="btn btn-sm btn-primary">Instalar</button>
  </div>
</div>
